.association_header {
  margin-top: 3px;
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.association_header .unapproved_notice {
  margin: 5px auto;
  display: flex;
  justify-content: center;
}

.unapproved_notice .notice {
  border: 1px solid rgb(206, 58, 58);
  border-radius: 5px;
  background-color: rgb(228, 177, 177);
  color: rgb(187, 66, 66);
  width: min(900px, 100vw);
  height: 30px;
  display: grid;
  place-content: center;
  font-weight: 700;
}

.association_header .header_flex {
  width: 900px;
  padding-bottom: 10px;
  margin: calc(1rem + 0.9vw) 10px;
  display: flex;
  line-height: 1.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.association_header .profile_image {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.association_header .profile_image > img {
  width: 150px;
  height: 150px;
}

.association_header .association_info {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.association_header .association_info .name {
  font-weight: 700;
  font-size: 2rem;
}

.association_header .association_info .desc {
  margin: 10px 0;
  /* font-size: 1.1rem; */
}

.association_container > nav {
  background-color: #fff;
  color: var(--text-secondary);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.association_container > nav::-webkit-scrollbar {
  display: none;
}

.association_container > nav > ul {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-flex;
  display: flex;
}

.association_container > nav > ul > li {
  display: inline-block;
  white-space: nowrap;
}

.association_container > nav > ul > li > a {
  display: inline-block;
  color: inherit;
  padding: calc(1.275rem + 0.3vw) 1rem calc(1.2625rem + 0.15vw);
  font-size: 0.9rem;
  line-height: 1;
  cursor: pointer;
}

.association_container > nav > ul > li > a.association_active {
  font-weight: 700;
  border-bottom: 2px solid var(--text-secondary);
}

.association_container > .margin_adjust_container {
  min-height: 500px;
  margin-top: calc(1.325rem + 0.9vw);
  margin-bottom: calc(1.5rem + 3vw);
  display: grid;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.add_event_btn {
  margin: 10px auto;
}

.list_container .upcomming > h1,
.list_container .past > h1 {
  font-size: 1.125rem;
  margin-bottom: 8px;
}

.list_container ul.event_list {
  display: grid;
  grid-gap: 24px 16px;
}

.list_container > :not(:last-child) {
  margin-bottom: calc(1.325rem + 0.9vw);
}

.list-item_container > a {
  padding: 1rem;
  height: 100%;
  margin: 0 auto;
  display: grid;
  -webkit-align-items: center;
  align-items: center;
  grid-template:
    "... ......... ... ... ... ... ... ..."
    "... ......... ... ... ... ... img ..."
    "... date date date date ... img ..."
    "... ......... ... ... ... ... img ..."
    "... name name name name ... img ..."
    "... ......... ... ... ... ... img ..."
    "... place place place place ... img ..."
    "... ......... ... ... ... ... img ..." minmax(24px, 1fr)
    "... organizer ... gamers ... ... img ..."
    "... ......... ... ... ... ... img ..."
    "... ......... ... ... ... ... ... ..." / auto auto auto auto 1fr 12px auto auto;
}

.list-item_container > a {
  color: var(--card-text);
  background-color: var(--card-bg);
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  box-shadow: var(--shadow-card);
  overflow: hidden;
}

.list-item_container > a > b.date {
  color: var(--successful-normal);
}

.list-item_container > a > b {
  grid-area: date;
  font-size: 0.8rem;
}

.list-item_container > a > h1 {
  grid-area: name;
  font-size: 1rem;
  color: var(--text-primary);
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-break: break-all;
}

.list-item_container > a > h2 {
  grid-area: place;
  font-size: 0.8rem;
  font-weight: 400;
}

.list-item_container > a > div {
  grid-area: organizer;
  font-size: 0.8rem;
  margin-right: calc(1.275rem + 0.3vw);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-item_container > a > div > img {
  display: block;
  border-radius: 9999px;
  overflow: hidden;
  margin-right: 8px;
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 24px;
}

.list-item_container > a > div > span {
  -webkit-align-self: center;
  align-self: center;
  -webkit-flex: 1 1;
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item_container > a > img {
  grid-area: img;
}

@media (min-width: 1200px) {
  .association_container > nav > ul > li > a {
    padding: 1.5rem 1rem 1.375rem;
  }
}

@media (max-width: 945px) {
  .association_header .header_flex {
    width: 100vw;
  }
  .association_container > nav > ul {
    width: 100vw;
  }
  .association_container > .margin_adjust_container {
    width: 100vw;
  }
  .list_container > .upcomming > h1,
  .list_container__1r2TN > .past > h1 {
    padding: 0 10px;
  }
}

@media (max-width: 767.55px) {
  .list-item_container > a {
    width: 100%;
    grid-template:
      "... ......... ..."
      "... date ..."
      "... ......... ..."
      "... name ..."
      "... ......... ..."
      "... place ..."
      "... ......... ..." 24px
      "... organizer ..."
      "... ......... ..." 4px
      "... gamers ..."
      "... ......... ..." / auto 100% auto;
  }
  .list-item_container > a > img {
    display: none;
  }
}

@media (max-width: 450px) {
  .header_flex {
    flex-direction: column;
  }
  .association_header .profile_image > img {
    width: 50vw;
    height: 50vw;
    object-fit: cover;
  }
}
